@font-face {
    font-family: Prata;
    src: url(../../components/fonts/Prata-Regular.ttf);
}

@font-face {
    font-family: MontserratM;
    src: url(../../components/fonts/Montserrat-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    .menu__list {
        width: 100%;
        height: 2rem;
        list-style: none;
        display: flex;
        align-items: center;
        
    }
}

main {
    background-color: #d7dfdf;
    height: 96vh;
    
    .main__title {
        display: flex;
        justify-content: space-around;
        margin-left: 2rem;
        img {
            z-index: 2;
        }
        a {
            text-decoration: none;
        }
        .title {
            font-family: Prata;
            font-size: 13vw; 
            position: absolute;
            line-height: 16vw;
            margin-top: 0.1em;
            letter-spacing: 0.12em;
            z-index: 1;
            text-align: center;

        }
        .order__title {
            margin-top: auto; 
            margin-bottom: 15vh;
            border: 0.2em solid black;
            color: white;
            background-color: black;
            padding: 2.5vh 3.8vw;
            border-radius: 5em;
            text-align: center;
            font-family: MontserratM;
            font-size: 1.4em;
        }
        .messanger__title {
            margin-top: auto; 
            margin-bottom: 12.1vh;
            padding: 2.5vh 5vw;
            border-radius: 5em;
            text-align: center;
            display: flex;
            gap: 1em
        }
    }
}

.self__section {
    display: flex;
    align-items: flex-start;
    min-height: 50vh;
    padding-top: 6em;
    padding-bottom: 6em;
    margin-left: 8.2rem;
    flex-direction: column; 
    .self__title {
        font-family: Prata;
        font-size: 10vw; 
        letter-spacing: 0.01em;
        
    }
    .self__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 2rem; 
        align-items: center;
        font-family: MontserratM;
        font-size: 1.6em;
        text-align: justify;
        .bold__self__grid {
            font-weight: 900;
        }
    }
}

.visit__card {
    background-color: #d7dfdf;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center; 
    gap: 5rem; 
    padding: 2rem;
    .visit__video {
        padding-top: 2rem;
    }
    .visit__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 50%; 
        
    }
    .visit__text-container {
        text-align: justify;
        max-width: 100%;
        padding: 1.5rem;
    }
    .visit__title {
        font-family: Prata;
            font-size: 9vw; 
            margin-top: 0.1em;
            text-align: center;
    }
    .visit__text {
        font-family: MontserratM;
        line-height: 1.5em;
        font-size: 1.4em;
        .visit__greetings {
            font-weight: 800;
        }
    }
   
    
}



